{% extends "index.html" %}
{% block content %}
<div class="container-fluid mt-5 py-5" id="about">
    <div class="container mt-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-5">Sorry</h5>
            <h1 class="display-1">404!!!! <br> We can't seem to find the resource you're looking for.</h1>
            <p>Please check that the Web site address is spelled correctly.
                Or go to our <a href="{%url 'Index'%}">home page</a> , and use the menus to navigate to a specific section.</p>
        </div>
    </div>
</div>
  
{% endblock %}