{% extends "admin.html" %}

{% block admincontent %}

<h1 class="display-8 text-center mt-5 border-bottom">Employers Message</h1>
    <div class="container mt-5">
      <div class="table-container1">
        <table class="table table-striped table-light">
          <thead>
            <tr>

              <th scope="col">Organazation Name</th>
              <th scope="col">EmailID</th>
              <th scope="col">Phone</th>
              <!-- <th>Resume</th> -->
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {%for msg in emessage%}
            <tr>
              <!-- <th scope="row" style="counter-reset: count;content: counter(count)"></th> -->
              <td>{{msg.OrganasationName}}</td>
              <td>{{msg.EmailID}} {{application.LastName}}</td>
              <td>{{msg.PhoneNumber}}{{application.ApplicationID}}</td>
              <!-- <td><a href="" class="btn btn-primary">Download</a></td> -->
              <td><a href="{%url 'EmployerMsgIndi' msg.EmpmassageID %}" class="btn btn-dark">VIEW</a></td>
            </tr>
            {%endfor%}

          </tbody>
        </table>
      </div>
    </div>
    
{% endblock %}
    