{% extends "index.html" %}
{% load static %}
{% block content %}
<style>
    .text-left {
        max-width: 600px;
        margin: auto;
        text-align: left;
    }
    .text-left-two{
        max-width: 300px;
        margin: auto;
        text-align: left;
    }
    
</style>
<div class="container-fluid mt-5 py-5" id="about">
    <div class="container mt-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Services</h5>
            <!-- <h1 class="display-4">Please Feel Free To Contact Us</h1> -->
        </div>
        <div class="row gx-5 text-center">
            <div class="col-lg-12">
                <div class="mb-4">
                    <!-- <h5 class="d-inline-block text-primary text-uppercase border-5">About Us</h5> -->
                    <h1 class="display-9">Recruitment Support</h1>
                </div>
                <p>At TopWorld HR we understand the importance of getting the right people for the role, and how much
                    time this process takes. Because of this, our recruitment support service ensures that every job
                    description, person specification or vacancy notice is relevant and correct. As a result, this means
                    that you only have to deal with serious candidates. <br>
                    <q><b> Recruitment is the process of having the right person, in the right place, at the right time.
                            It is crucial to organisational performance.</b></q> <br>
                    Most businesses recognise that their staff are their greatest asset. Therefore an effective and fair
                    recruitment and selection process is vital for finding and employing the right people for the job.
                    Additionally, it can also ensure that the new employee becomes efficient in the shortest time.
                </p>
                <h3 class="mt-5">Recruitment Action Plan</h3>
                <!-- <h5 class="text-dark">By using our service, you will benefit from:</h5> -->
                <div class="text-left mt-5">
                    <ul>
                        <li>Identifying the organization job profile requirement</li>
                        <li>Unique requirement plan for the job profile.</li>
                        <li>Crafting the idle candidate profile</li>
                        <li>Posting job requirement</li>
                        <li>Shortlisting appropriate candidate</li>
                        <li>Background screening</li>
                        <li>Assisting internal team with the candidate for selection process</li>
                        <li>Handling the final job procedure for selected candidate</li>
                    </ul>
                </div>
                <h3 class="mt-5">Benefits of outsourcing Recruitment Support</h3>
                <h5 class="text-dark">By using our service, you will benefit from:</h5>
                <div class="text-left mt-5">
                    <ul>
                        <li>Increased employee engagement</li>
                        <li>Sustained job performance</li>
                        <li>Employee retention</li>
                        <li>Low staff turnover</li>
                        <li>Importantly, getting recruitment and selection process right from the beginning will save
                            you costs and time</li>
                    </ul>
                </div>
                <h3 class="mt-5">How can TopWorld HR help in Recruitment Support?</h3>
                <h5 class="text-dark">The recruitment and selection process involves working through a series of stages:
                </h5>
                <div class="text-left mt-5">
                    <ul>
                        <li>Job description / Job specification writing</li>
                        <li>Vacancy notice writing – if you are not sure how to best write your vacancy notice, job
                            description or person specification, we will assist you with preparing it</li>
                        <li>Vacancy notice posting – we will assist you with targeted advertising across all major
                            recruitment sites and job boards</li>
                        <li>CV screening / shortlisting (if required) – we will filter all job applications, as a
                            result, you will only see the most suitable candidates</li>
                        <li>Arranging interviews – we will contact applicants and conduct initial phone interviews with
                            them on your behalf. Additionally, we will ensure candidates have all the details they need
                            prior to meeting you for an interview</li>
                        <li>Informing unsuccessful candidates – we will inform unsuccessful candidates if they are not
                            the right match for the role</li>
                        <li>Pre-employment checks – such as right to work in the UAE</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div class="mb-4">
                    <!-- <h5 class="d-inline-block text-primary text-uppercase border-5">About Us</h5> -->
                    <h1 class="display-9">IT Solutions</h1>
                </div>
                <p>Based on your company requirement we will develop and provide you the software services.
                    Having a professional specifically focused on the dynamics of an organization is a great opportunity
                    to improve IT performance in general.
                    In addition, it's very interesting to hear feedback from outsiders, as sometimes the company is so
                    focused on itself that it doesn't see the new challenges.
                    Please call us today on <a href="#"> 00971582961892 </a> to discuss your needs or use our <a
                        href="{%url 'Contact' %}#cform"> contact form </a> and we will respond immediately.
                </p>
                <div class="row gx-5 text-primary">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <div class="text-left mt-5">
                        <ul>
                            <li>Ecommerce system </li>
                            <li> Billing system </li>
                            <li>Hospital token system </li>
                            <li> Accounting software </li>
                            <li>Rental system</li>
                            <li> Web based applications and software</li>
                            <li> Mobile application</li>
                            <li> IOT products</li>
                            <li> Email signature</li>
                            <li> Graphics design for web</li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-left-two mt-5">
                        <ul>
                            <li>Logo design </li>
                            <li> Product package design</li>
                            <li> Product mockup</li>
                            <li> Photo editing</li>
                            <li> Brochure / flyer design</li>
                            <li> Business card design</li>
                            <li> Logo/title reveal animation (2D)</li>
                            <li> Explanatory video (2D)</li>
                            <li>Promo video making.</li>
                            <li> Poster design</li>
                            <li> Video editing</li>
                        </ul>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}